# General

.DS_Store
.DS_store
Thumbs.db
Desktop.ini

# Docs

docs/build
docs/ascii/act1/
docs/ascii/imgs/act1/

# Visual Studio

.vs/
*.user
*.suo

## Build results
[Bb]in/
[Oo]bj/

## NuGet
*.nupkg
**/packages/*
!**/packages/build/
project.lock.json
project.fragment.lock.json
artifacts/

## User-specific files
*.rsuser
*.userosscache
*.sln.docstates

## Otros archivos generados
*.cache

## Publish profiles

**/Properties/PublishProfiles/*.pubxml
**/Properties/PublishProfiles/*.pubxml.user

## Sensible data

appsettings.Development.json
appsettings.Local.json
*.config.local
secrets.json

# Project files

**/Images/Avatars/